@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    border: 0;
}
#container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black url('imagens/fundo-madeira.jpg') center center no-repeat fixed;
    background-size: cover;
}
iframe{
    height: 397px;
    width: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#iphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
}
div{
    display: inline-block;
    position: absolute;
    left: 86%;
    top: 30%;
}
div a {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    color: white;
    text-decoration: none;
}
#voltar{
    background: black url('imagens/logo-home.jpg') center center;
    background-size: cover;
}
#youtube{
    background: black url('imagens/logo-youtube.jpg') center center;
    background-size: cover;
}
#facebook{
    background: black url('imagens/logo-facebook.jpg') center center;
    background-size: cover;
}
#x{
    background: black url('imagens/logo-twitter.jpg') center center;
    background-size: cover;
}
#instagram{
    background: black url('imagens/logo-instagram.jpg') center center ;
    background-size: cover;
}
#instagram{
    background: black url('imagens/logo-github.jpg') center center ;
    background-size: cover;
}
a:hover{
    transform: translateX(-5px);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.507);
}